@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Poppins:wght@400;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: cover;
  background-position: 50% 50%;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Hide React Google Reviews controls for a fluid carousel */
.carousel .slick-dots {
  display: none !important;
}
.carousel .carousel__btn {
  display: none !important;
}
.carousel:hover .slick-slider {
  animation-play-state: running !important;
}
.carousel .carousel__btn--left {
  display: none !important;
}
.carousel .carousel__btn--right {
  display: none !important;
}
